body, html {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #17181f;
} 

.TV {
  background-color: #17181f;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.TV .div {
  background-color: #17181f;
  width: 1280px;
  height: 720px;
  position: relative;
}


.focus-seleção {
  position: relative;
  width: 58.75px;
  height: 37px;
  flex-shrink: 0;
  top: 181px;
  left: 11px;
  border-radius: 20px 0px 0px 20px;
  background-color: rgba(0, 0, 0, 0.253);
  cursor: pointer;
  box-shadow: -2px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;

}

.f3 {
  position: relative;
  width: 58.75px;
  height: 37px;
  flex-shrink: 0;
  top: 5px;
  left: 11px;
  border-radius: 20px 0px 0px 20px;
  background-color: rgba(0, 0, 0, 0.253);
  cursor: pointer;
  box-shadow: -2px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
}

.f2 {
  position: relative;
  width: 58.75px;
  height: 37px;
  flex-shrink: 0;
  top: 93px;
  left: 11px;
  border-radius: 20px 0px 0px 20px;
  background-color: rgba(0, 0, 0, 0.253);
  cursor: pointer;
  box-shadow: -2px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
}

.f4 {
  position: relative;
  width: 58.75px;
  height: 37px;
  flex-shrink: 0;
  top: 120px;
  left: 11px;
  border-radius: 20px 0px 0px 20px;
  background-color: rgba(0, 0, 0, 0.253);
  cursor: pointer;
  box-shadow: -2px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
}

.f5 {
  position: relative;
  width: 58.75px;
  height: 37px;
  flex-shrink: 0;
  top: 132px;
  left: 11px;
  border-radius: 20px 0px 0px 20px;
  background-color: rgba(0, 0, 0, 0.253);
  cursor: pointer;
  box-shadow: -2px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
}

.f6 {
  position: relative;
  width: 58.75px;
  height: 37px;
  flex-shrink: 0;
  top: 144px;
  left: 11px;
  border-radius: 20px 0px 0px 20px;
  background-color: rgba(0, 0, 0, 0.253);
  cursor: pointer;
  box-shadow: -2px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
}

.TV .menu-lateral {
  position: absolute;
  width: 70px;
  height: 720px;
  top: 0;
  left: 0;
  background-color: #15161d;
  z-index: 99;
}

.TV .overlap-group {
  position: absolute;
  width: 59px;
  height: 35px;
  top: 1px;
  left: 0px;
  background-image: url(./img/vector.svg);
  background-size: 100% 100%;
}

.TV .cone-produtos {
  position: absolute;
  width: 21px;
  height: 19px;
  top: 9px;
  left: 15px;
}

.TV .cone-abrir-painel {
  position: absolute;
  width: 21px;
  height: 15px;
  top: 397px;
  left: 25px;
}

.TV .cone-viso-geral {
  position: absolute;
  width: 18px;
  height: 17px;
  top: 10px;
  left: 16px;
  z-index: 12;
}

.TV .cone-home {
  position: absolute;
  width: 15px;
  height: 16px;
  top: 10px;
  left: 17px;
}

.TV .cone-grfico-linha {
  position: absolute;
  width: 21px;
  height: 12px;
  top: 12px;
  left: 15px;
}

.TV .cone-pessoa {
  position: absolute;
  width: 16px;
  height: 17px;
  top: 10px;
  left: 19px;
}

.TV .icone-engrenagem {
  position: absolute;
  width: 21px;
  height: 20px;
  top: 8px;
  left: 16px;
}

.TV .dummy-icon {
  position: absolute;
  width: 28px;
  height: 27px;
  top: 23px;
  left: 21px;
}

.TV .overlap {
  position: absolute;
  width: 1175px;
  height: 700px;
  top: 84px;
  left: 91px;
  background-color: #20212c;
  border-radius: 8px;
}


.TV .group {
  position: absolute;
  width: 523px;
  height: 44px;
  top: 18px;
  left: 97px;
}

.TV .overlap-2 {
  position: relative;
  width: 521px;
  height: 44px;
  border-radius: 26px;
}

.TV .bell-wrapper {
  position: absolute;
  width: 49px;
  height: 49px;
  top: 17px;
  left: 1212px;
  background-color: #303139;
  border-radius: 24.5px;
  cursor: pointer;
  z-index: 3;
}

.TV .bell {
  position: absolute;
  width: 29px;
  height: 29px;
  top: 10px;
  left: 10px;
  object-fit: cover;
  cursor: pointer;
}

.bell-wrapper:hover {
  transform: scale(106%);
}

.sem-estoque-button {
  position: absolute;
  width: 127px;
  height: 29px;
  top: 15px;
  left: 774px;
  border-radius: 18px;
  border: 2px solid #D34748;
  background-color: transparent;  
  color: #fff;
  cursor: pointer;
}

.sem-estoque-button.active {
  border: 2px solid #D34748 !important;
  background-color: #D34748 !important;
}

.com-estoque-button {
  position: absolute;
  width: 127px;
  height: 29px;
  top: 15px;
  left: 1062px;
  border-radius: 18px;
  border: 2px solid #55BA17;
  background-color: transparent;  
  color: #fff;
  cursor: pointer;
}

.com-estoque-button.active {
  border: 2px solid #55BA17;
  background-color: #55BA17;  
}

.insuficiente-button {
  position: absolute;
  width: 127px;
  height: 29px;
  top: 15px;
  left: 919px;
  border-radius: 18px;
  border: 2px solid #D7860C;
  background-color: transparent;  
  color: #fff;
  cursor: pointer;
}

.insuficiente-button.active {
  border: 2px solid #D7860C;
  background-color: #D7860C;  
}

.pesquisa {
  position: absolute;
  width: 587.64px;
  height: 44px;
  top: -2px;
  left: -3px;
  background-color: transparent;
  color: #7a7a7a;
  border-radius: 20px 0px 0px 20px;
  border: 3px solid #303139;
  padding-left: 15px;
  scroll-padding-left: 10px;
  outline: 0;
}

.lupa-pesquisa {
  position: absolute;
  width: 23px;
  height: 23.5px;
  top: -2.5px;
  left: 603px;
  padding: 14.5px; 
  border-radius: 5px 18px 18px 5px; 
  cursor: pointer;
  background-color: #303139;
  z-index: 4;
}

.styled-table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ddd;
  font-size: 14px;
  border-radius: 8px; 
  overflow: hidden;
  cursor: default;
}

.styled-table th {
  border: 1px solid #20212c;
  padding: 8px;
  text-align: center;
}

.styled-table td {
  padding: 8px;
  text-align: center;
  color: #ffffff7e;
}

.styled-table thead {
  background-color: #000000a3;
  font-weight: bold;
  color: #a178f1;
}

.styled-table tbody tr:nth-child(even) {
  background-color: #1b1c27;
  color:#b8b8b8;
}

.tabela-scroll {
  max-height: 635px; 
  overflow-y: auto; 
}

.tabela-scroll::-webkit-scrollbar {
  width: 8px;
}

.tabela-scroll::-webkit-scrollbar-thumb {
  background-color: #323341; 
  border-radius: 4px; 
}

.tabela-scroll::-webkit-scrollbar-track {
  background: none; 
}

.adicionar-produto {
  position: absolute;
  width: 200px;
  height: 20px;
  top: 50px;
  left: 773px;
  border-radius: 8px;
  box-shadow: 0px 4px 4px #00000040, inset 0px 4px 4px #00000040;
  border: 2px solid #6e4fab;
  background-color: transparent;
  color: #ddd;
  cursor: pointer;
}

.adicionar-produto:hover {
  box-shadow: 0px 0px 0px;
  border: 2px solid #6e4fab;
  background-color: #6e4fab;
}

.entrada-e-saida {
  position: absolute;
  width: 200px;
  height: 20px;
  top: 50px;
  left: 990px;
  border-radius: 8px;
  box-shadow: 0px 4px 4px #00000040, inset 0px 4px 4px #00000040;
  border: 2px solid #6e4fab;
  background-color: transparent;
  color: #ddd;
  cursor: pointer;
}

.entrada-e-saida:hover {
  box-shadow: 0px 0px 0px;
  border: 2px solid #6e4fab;
  background-color: #6e4fab;
}

/* Exemplo de estilo para a classe 'sem-estoque' */
.sem-estoque {
  color: #D34748 !important;
}

.insuficiente {
  color: #D7860C !important;
}

.com-estoque {
  color: #55BA17 !important;
}

.imagem-x {
  position: absolute;
  right: -74px;
  top: 24px;
  transform: translateY(-50%);
  width: 25px; 
    height: auto;
    cursor: pointer;
    transition: opacity 0.5s ease; /* Define a transição de opacidade */
  }

  .fora {
    position: absolute;
    width: 1px;
    height: 226px;
    top: 9px;
    left: 2550px;
  
  }

  .blur {
    transition: 1s;
    filter: blur(0px);
  }

  .blur.active {
    filter: blur(3px); /* Ou qualquer outro estilo que você desejar para o efeito de desfoque */
  }

  .buttons-container {
    position: fixed;
    top: 210px;
    left: 1090px;
    width: 300px;
    height: 226px;
    transform: translate(-50%, -50%);
    background-color: #1b1c27;
    padding: 20px;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 2;
    transition: 1s;
  }
  
  .generated-button:hover {
    color: #c5c5c5;
    background-color: #21222e;
  }

  .generated-button {
    display: block;
    margin: 5px 0; /* Adiciona margem para espaçar os botões verticalmente */
    padding: 8px;
    cursor: pointer;
      font-family: "Poppins-Regular", Helvetica;
      font-weight: 600;
      color: #444555;
      font-size: 14px;
      text-align: center;

      height: 40px;
      width: 300px;
      background-color: #20212c;
      border-radius: 10px;
      letter-spacing: 0;
      line-height: normal;
      border: none;
      outline: 0;
  }

  .detalhe {
    position: absolute;
    top: -60px;
    left: 0px;
    width: 330px;
    height: 49px;
    border-radius: 5px 19px 19px 5px;
    background-color: #1b1c27;
  }

  .h1-d {
    position: absolute;
    width: 250px;
    top: -02px;
    left: 25px;
    font-family: "Poppins-Bold", Helvetica;
    font-weight: 700;
    color: rgb(84 85 100);
    font-size: 22.1px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
    cursor: default;
  }

  .ad-b {
    position: absolute;
    top: 102px;
    left: 199px;
    width: 900px;
    height: 508px;
    background-color: #20212c;
    border: 1px solid #383946be;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    z-index: 99999;
    transition: 1s;
  }
  
  .vector {
    position: absolute;
    width: 22px;
    height: 39px;
    top: 10px;
    left: 23px;
  }

  .prot {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: #0000003a;
    z-index: 9;
  }
  
  .TV .group-6b {
    position: absolute;
    width: 545px;
    height: 62px;
    top: 12px;
    left: 20px;
  }
  
  .TV .overlap-6b {
    position: relative;
    width: 54px;
    height: 62px;
  }
  
  .TV .rectangle-6b {
    width: 590px;
    height: 59px;
    top: 6px;
    left: 0;
    position: absolute;
    border-radius: 15px;
    cursor: pointer;
    background-color: #333441;
    transition: 0.5s;
  }
  
  .rectangle-6b:hover {
    background-color: #333441;
    transform: scale(103%);
  }
  
  .p-avi {
    position: absolute;
    top: 422px;
    left: 25px;
    width: 400px;
    height: 70px;
    background-color: #ffffff;
    border-radius: 15px;
  }
  
  .rectangle-nome, .rectangle-descr, .rectangle-valor {
    background-color: #15161d;
    border-radius: 10px;
    box-shadow: 0px 4px 4px #00000040, inset 0px 4px 4px #00000040;
    z-index: 9999;
    letter-spacing: 0;
    line-height: normal;
    border: none;
    outline: 0;
    padding-left: 13px;
  }
  
  .rectangle-nome {
    position: absolute;
    width: 560px;
    height: 57px;
    top: 40px;
    left: 0px;
    color: #808080;
  }
  
  .rectangle-descr {
    position: absolute;
    width: 240px;
    height: 57px;
    top: 40px;
    left: 0px;
    color: #808080;
  }
  
  .rectangle-valor {
    position: absolute;
    width: 830px;
    height: 87px;
    top: 40px;
    left: 0px;
    color: #808080;
  }
  
  .rectangle-select {
    background-color: #15161d;
    border-radius: 10px;
    box-shadow: 0px 4px 4px #00000040, inset 0px 4px 4px #00000040;
    z-index: 9999;
    letter-spacing: 0;
    line-height: normal;
    border: none;
    outline: 0;
  }
  
  .rectangle-select {
    position: absolute;
    width: 265px;
    height: 57px;
    top: 0px;
    left: 610px;
    color: #a178f1;
    border: 2px solid #a178f1; 
  }
  
  .rectangle-nome:focus, .rectangle-descr:focus, .rectangle-valor:focus, .rectangle-select:focus {
    border: 2px solid #a178f1; 
    outline: none; 
    color: #808080; 
  }
  
  .butt-1 {
    position: absolute;
    top: 110px;
    left: 30px;
  }
  
  .butt-2 {
    position: absolute;
    top: 110px;
    left: 619px;
  }
  
  .butt-3 {
    position: absolute;
    top: 220px;
    left: 30px;
  }
  
  .nome-i-fixo {
    font-family: "Poppins-Bold", Helvetica;
    font-weight: 700;
    color: #845fcb;
    font-size: 17.1px;
    letter-spacing: 0;
    line-height: normal;
    cursor: default;
    z-index: 999;
  }
  
  .nome-i-fixo {
    position: absolute;
    top: 0px;
    left: 2px;
    width: 400px;
  }
  
  .ajust-b {
    position: absolute;
    top: 135px;
    left: 5px;
  }
  
  .line-b1 {
    position: absolute;
    top: 232px;
    left: 20px;
    width: 870px;
    height: 1px;
    background-color: #333441a1;
    border-radius: 10px;
  }
  
  .text-aviso-i {
    position: absolute;
    top: -63px;
    left: 26px;
    width: 530px;
    height: 145px;
    font-family: "Poppins-Bold", Helvetica;
    font-weight: 700;
    color: #515261;
    font-size: 17.1px;
    cursor: default;
    z-index: 999;
    word-wrap: break-word;
    white-space: normal;
  }
  
  .line-b2 {
    position: absolute;
    top: -43px;
    left: 580px;
    width: 1px;
    height: 110px;
    background-color: #333441a1;
    border-radius: 10px;
  }
  .nome-i-fixo2 {
    font-family: "Poppins-Bold", Helvetica;
    font-weight: 700;
    color: #845fcb;
    font-size: 17.1px;
    letter-spacing: 0;
    line-height: normal;
    cursor: default;
    z-index: 999;
    position: absolute;
    top: -37px;
    left: 610px;
    width: 260px;
  }
  
  .salvarBtn {
    position: absolute;
    width: 110px;
    height: 56px;
    top: -120px;
    left: 787px;
    cursor: pointer;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 800;
    color: #a178f1;
    font-size: 13px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    cursor: pointer; 
  
  
    background-color: #17181f;
    border-radius: 18px;
    border: 1px solid;
    border-color: #0000003d;
    box-shadow: 0px 4px 4px #00000040, 0px 4px 4px #00000040, inset 0px 4px 4px #00000040;
  }
  
  .salvarBtn:hover, .alterarBtn:hover {
    transform: scale(99%); 
  }
  
  .ajus-0 {
    position: absolute;
    top: 7px;
    left: 0px;
  }
  
  .text-wrapper-7b {
    position: absolute;
    width: 410px;
    top: 8px;
    left: 63px;
    font-family: "Poppins-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 40.1px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .alterarBtn {
    position: absolute;
    width: 130px;
    height: 56px;
    top: -120px;
    left: 644px;
    cursor: pointer;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 800;
    color: #a178f1;
    font-size: 13px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    cursor: pointer; 
  
  
    background-color: #17181f;
    border-radius: 18px;
    border: 1px solid;
    border-color: #0000003d;
    box-shadow: 0px 4px 4px #00000040, 0px 4px 4px #00000040, inset 0px 4px 4px #00000040;
  }