body, html {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #17181f;
} 

.TV {
  background-color: #17181f;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.TV .div {
  background-color: #17181f;
  width: 1280px;
  height: 720px;
  position: relative;
}

.focus-seleção {
  position: relative;
  width: 58.75px;
  height: 37px;
  flex-shrink: 0;
  top: 181px;
  left: 11px;
  border-radius: 20px 0px 0px 20px;
  background-color: rgba(0, 0, 0, 0.253);
  cursor: pointer;
  box-shadow: -2px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;

}

.f3 {
  position: relative;
  width: 58.75px;
  height: 37px;
  flex-shrink: 0;
  top: 5px;
  left: 11px;
  border-radius: 20px 0px 0px 20px;
  background-color: rgba(0, 0, 0, 0.253);
  cursor: pointer;
  box-shadow: -2px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
}

.f2 {
  position: relative;
  width: 58.75px;
  height: 37px;
  flex-shrink: 0;
  top: 93px;
  left: 11px;
  border-radius: 20px 0px 0px 20px;
  background-color: rgba(0, 0, 0, 0.253);
  cursor: pointer;
  box-shadow: -2px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
}

.f4 {
  position: relative;
  width: 58.75px;
  height: 37px;
  flex-shrink: 0;
  top: 120px;
  left: 11px;
  border-radius: 20px 0px 0px 20px;
  background-color: rgba(0, 0, 0, 0.253);
  cursor: pointer;
  box-shadow: -2px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
}

.f5 {
  position: relative;
  width: 58.75px;
  height: 37px;
  flex-shrink: 0;
  top: 132px;
  left: 11px;
  border-radius: 20px 0px 0px 20px;
  background-color: rgba(0, 0, 0, 0.253);
  cursor: pointer;
  box-shadow: -2px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
}

.f6 {
  position: relative;
  width: 58.75px;
  height: 37px;
  flex-shrink: 0;
  top: 144px;
  left: 11px;
  border-radius: 20px 0px 0px 20px;
  background-color: rgba(0, 0, 0, 0.253);
  cursor: pointer;
  box-shadow: -2px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
}

.TV .menu-lateral {
  position: absolute;
  width: 70px;
  height: 720px;
  top: 0;
  left: 0;
  background-color: #15161d;
}

.TV .overlap-group {
  position: absolute;
  width: 59px;
  height: 35px;
  top: 1px;
  left: 0px;
  background-image: url(./img/vector.svg);
  background-size: 100% 100%;
}

.TV .cone-produtos {
  position: absolute;
  width: 21px;
  height: 19px;
  top: 9px;
  left: 15px;
}

.TV .cone-abrir-painel {
  position: absolute;
  width: 21px;
  height: 15px;
  top: 397px;
  left: 25px;
}

.TV .cone-viso-geral {
  position: absolute;
  width: 18px;
  height: 17px;
  top: 10px;
  left: 16px;
  z-index: 12;
}

.TV .cone-home {
  position: absolute;
  width: 15px;
  height: 16px;
  top: 10px;
  left: 17px;
}

.TV .cone-grfico-linha {
  position: absolute;
  width: 21px;
  height: 12px;
  top: 12px;
  left: 15px;
}

.TV .cone-pessoa {
  position: absolute;
  width: 16px;
  height: 17px;
  top: 10px;
  left: 19px;
}

.TV .icone-engrenagem {
  position: absolute;
  width: 21px;
  height: 20px;
  top: 8px;
  left: 16px;
}

.TV .dummy-icon {
  position: absolute;
  width: 28px;
  height: 27px;
  top: 23px;
  left: 21px;
}


.TV .bell-wrapper {
  position: absolute;
  width: 49px;
  height: 49px;
  top: 21px;
  left: 1204px;
  background-color: #303139;
  border-radius: 24.5px;
  cursor: pointer;
}

.TV .bell {
  position: absolute;
  width: 29px;
  height: 29px;
  top: 10px;
  left: 10px;
  object-fit: cover;
}

.TV .text-wrapper {
  position: absolute;
  top: 55px;
  left: 97px;
  font-family: "Roboto-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 25px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
  cursor: default;
}

.TV .overlap {
  position: absolute;
  width: 409px;
  height: 43px;
  top: 96px;
  left: 99px;
}

.TV .group-2 {
  position: absolute;
  width: 125px;
  height: 43px;
  top: 0;
  left: 119px;
}

.TV .div-wrapper {
  position: absolute;
  width: 43px;
  height: 43px;
  top: 0;
  left: 0;
  background-color: #ff7a00;
  border-radius: 21.5px;
}

.TV .text-wrapper-2 {
  position: absolute;
  width: 24px;
  height: 23px;
  top: 12px;
  left: 8px;
  font-family: "Bebas Neue-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 30.1px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.TV .text-wrapper-3 {
  width: 68px;
  top: 2px;
  line-height: normal;
  position: absolute;
  left: 53px;
  font-family: "Syne-Bold", Helvetica;
  font-weight: 700;
  color: #d3d3d6;
  font-size: 16px;
  letter-spacing: 0;
}

.TV .group-3 {
  position: absolute;
  width: 123px;
  height: 43px;
  top: 0;
  left: 0;
}

.TV .overlap-2 {
  position: absolute;
  width: 43px;
  height: 43px;
  top: 0;
  left: 0;
  background-color: #552bff;
  border-radius: 21.5px;
}

.TV .text-wrapper-4 {
  position: absolute;
  width: 27px;
  height: 25px;
  top: 9px;
  left: 7px;
  font-family: "Bebas Neue-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 33.2px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.TV .open-projects {
  width: 66px;
  height: 31px;
  top: 5px;
  line-height: 21.1px;
  position: absolute;
  left: 53px;
  font-family: "Syne-Bold", Helvetica;
  font-weight: 700;
  color: #d3d3d6;
  font-size: 16px;
  letter-spacing: 0;
}

.TV .span {
  font-family: "Syne-Bold", Helvetica;
  font-weight: 700;
  color: #d3d3d6;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 21.1px;
}

.TV .text-wrapper-5 {
  font-size: 12px;
  line-height: 15.8px;
}

.TV .group-4 {
  position: absolute;
  width: 173px;
  height: 43px;
  top: 0;
  left: 236px;
}

.TV .overlap-3 {
  position: absolute;
  width: 44px;
  height: 43px;
  top: 0;
  left: 0;
  background-color: #00b71d;
  border-radius: 21.5px;
}

.TV .text-wrapper-6 {
  position: absolute;
  width: 25px;
  height: 19px;
  top: 12px;
  left: 10px;
  font-family: "Bebas Neue-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 24.8px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.TV .growth-in {
  position: absolute;
  width: 115px;
  top: 4px;
  left: 54px;
  font-family: "Syne-Bold", Helvetica;
  font-weight: 700;
  color: #d3d3d6;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 15.9px;
}

.TV .group-5 {
  position: absolute;
  width: 34px;
  height: 34px;
  top: 51px;
  left: 370px;
  background-image: url(./img/image-18-2.png);
  background-size: cover;
  background-position: 50% 50%;
}

.TV .overlap-4 {
  position: absolute;
  width: 8px;
  height: 9px;
  top: 0;
  left: 18px;
}

.TV .vector {
  position: absolute;
  width: 6px;
  height: 7px;
  top: 2px;
  left: 0;
}

.TV .img {
  position: absolute;
  width: 6px;
  height: 9px;
  top: 0;
  left: 1px;
}

.TV .overlap-5 {
  position: absolute;
  width: 8px;
  height: 9px;
  top: 20px;
  left: 0;
}

.TV .vector-2 {
  position: absolute;
  width: 6px;
  height: 7px;
  top: 0;
  left: 2px;
}

.TV .vector-3 {
  position: absolute;
  width: 7px;
  height: 8px;
  top: 1px;
  left: 0;
}

.TV .overlap-wrapper {
  position: absolute;
  width: 83px;
  height: 36px;
  top: 179px;
  left: 90px;
}

.TV .overlap-6 {
  position: relative;
  width: 81px;
  height: 36px;
  border-radius: 18px;
}

.TV .text-wrapper-7 {
  position: absolute;
  top: 8px;
  left: 22px;
  font-family: "Roboto-Medium", Helvetica;
  font-weight: 500;
  color: #d3d3d6;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.TV .rectangle {
  position: absolute;
  width: 81px;
  height: 36px;
  top: 0;
  left: 0;
  border-radius: 18px;
  border: 2px solid;
  border-color: #272a30;
}

.TV .overlap-group-wrapper {
  position: absolute;
  width: 119px;
  height: 36px;
  top: 179px;
  left: 326px;
}

.TV .overlap-7 {
  position: relative;
  width: 117px;
  height: 36px;
  border-radius: 18px;
}

.TV .text-wrapper-8 {
  position: absolute;
  top: 8px;
  left: 35px;
  font-family: "Roboto-Medium", Helvetica;
  font-weight: 500;
  color: #d3d3d6;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.TV .rectangle-2 {
  position: absolute;
  width: 117px;
  height: 36px;
  top: 0;
  left: 0;
  border-radius: 18px;
  border: 2px solid;
  border-color: #272a30;
}

.TV .group-6 {
  position: absolute;
  width: 123px;
  height: 36px;
  top: 179px;
  left: 187px;
}

.TV .overlap-8 {
  position: relative;
  width: 121px;
  height: 36px;
  background-color: #272a30;
  border-radius: 18px;
}

.TV .text-wrapper-9 {
  position: absolute;
  top: 8px;
  left: 23px;
  font-family: "Roboto-Medium", Helvetica;
  font-weight: 500;
  color: #d3d3d6;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.TV .group-7 {
  position: absolute;
  width: 138px;
  height: 36px;
  top: 178px;
  left: 1129px;
}

.TV .text-wrapper-10 {
  position: absolute;
  top: 9px;
  left: 12px;
  font-family: "Roboto-Medium", Helvetica;
  font-weight: 500;
  color: #20212c;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.TV .group-8 {
  position: absolute;
  width: 138px;
  height: 36px;
  top: 178px;
  left: 972px;
}

.TV .overlap-10 {
  position: relative;
  width: 136px;
  height: 36px;
  background-color: #20212c;
  border-radius: 18px;
}

.TV .text-wrapper-11 {
  position: absolute;
  top: 8px;
  left: 17px;
  font-family: "Roboto-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.TV .group-9 {
  position: absolute;
  width: 12px;
  height: 11px;
  top: 13px;
  left: 111px;
}

.TV .overlap-group-2 {
  position: relative;
  height: 11px;
}

.TV .rectangle-3 {
  position: absolute;
  width: 3px;
  height: 11px;
  top: 0;
  left: 4px;
  background-color: #ffffff;
  border-radius: 40px;
}

.TV .rectangle-4 {
  position: absolute;
  width: 3px;
  height: 12px;
  top: -1px;
  left: 5px;
  background-color: #ffffff;
  border-radius: 40px;
  transform: rotate(-90deg);
}

.TV .group-10 {
  position: absolute;
  width: 375px;
  height: 201px;
  top: 237px;
  left: 90px;
}

.TV .overlap-11 {
  position: relative;
  width: 369px;
  height: 201px;
  background-color: #20212c;
  border-radius: 15px;
}

.TV .text-wrapper-12 {
  position: absolute;
  top: 66px;
  left: 19px;
  font-family: "Roboto-Medium", Helvetica;
  font-weight: 500;
  color: #d3d3d6;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.TV .lorem-ipsum-is {
  position: absolute;
  width: 330px;
  top: 103px;
  left: 16px;
  font-family: "Roboto-Regular", Helvetica;
  font-weight: 400;
  color: #d3d3d6;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
}

.TV .group-11 {
  position: absolute;
  width: 81px;
  height: 23px;
  top: 20px;
  left: 16px;
}

.TV .overlap-group-3 {
  position: relative;
  width: 79px;
  height: 23px;
}

.TV .rectangle-5 {
  position: absolute;
  width: 74px;
  height: 23px;
  top: 0;
  left: 0;
  background-color: #ef9712;
  border-radius: 11.5px;
}

.TV .text-wrapper-13 {
  position: absolute;
  width: 71px;
  height: 14px;
  top: 5px;
  left: 8px;
  font-family: "Roboto-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.TV .group-12 {
  position: absolute;
  width: 71px;
  height: 22px;
  top: 159px;
  left: 19px;
}

.TV .overlap-12 {
  position: relative;
  height: 22px;
}

.TV .image {
  position: absolute;
  width: 22px;
  height: 22px;
  top: 0;
  left: 0;
  object-fit: cover;
}

.TV .image-2 {
  position: absolute;
  width: 22px;
  height: 22px;
  top: 0;
  left: 18px;
}

.TV .image-3 {
  position: absolute;
  width: 22px;
  height: 22px;
  top: 0;
  left: 35px;
  object-fit: cover;
}

.TV .image-4 {
  position: absolute;
  width: 22px;
  height: 22px;
  top: 0;
  left: 49px;
  object-fit: cover;
}

.TV .text-wrapper-14 {
  position: absolute;
  top: 21px;
  left: 297px;
  font-family: "Roboto-Medium", Helvetica;
  font-weight: 500;
  color: #d3d3d6;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.TV .group-13 {
  position: absolute;
  width: 371px;
  height: 302px;
  top: 237px;
  left: 488px;
}

.TV .overlap-13 {
  position: relative;
  width: 369px;
  height: 302px;
  background-color: #20212c;
  border-radius: 15px;
}

.TV .image-5 {
  position: absolute;
  width: 325px;
  height: 180px;
  top: 102px;
  left: 22px;
}

.TV .group-14 {
  position: absolute;
  width: 137px;
  height: 23px;
  top: 20px;
  left: 16px;
}

.TV .overlap-group-4 {
  position: relative;
  width: 135px;
  height: 23px;
  background-color: #7259c6;
  border-radius: 11.5px;
}

.TV .text-wrapper-15 {
  position: absolute;
  width: 113px;
  height: 14px;
  top: 5px;
  left: 13px;
  font-family: "Roboto-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.TV .group-15 {
  position: absolute;
  width: 37px;
  height: 22px;
  top: 21px;
  left: 297px;
}

.TV .image-6 {
  width: 22px;
  height: 22px;
  left: 15px;
  position: absolute;
  top: 0;
  object-fit: cover;
}

.TV .group-16 {
  position: absolute;
  width: 379px;
  height: 414px;
  top: 237px;
  left: 884px;
}

.TV .overlap-14 {
  position: relative;
  width: 375px;
  height: 414px;
  background-color: #20212c;
  border-radius: 14px;
}

.TV .local-do-titulo {
  position: absolute;
  width: 330px;
  height: 52px;
  top: 58px;
  left: 15px;
}

.TV .novo-aviso-titulo {
  position: relative;
  width: 330px;
  height: 52px;
  border-radius: 10px;
  border: 3px solid;
  border-color: #494a51;
  background-color: transparent;
  letter-spacing: 0;
  line-height: normal;
  outline: 0;
  padding-left: 13px;
}

.novo-aviso-titulo:focus {
  border-color: #a178f1; 
}

.TV .local-do-texto {
  position: absolute;
  width: 330px;
  height: 106px;
  top: 122px;
  left: 15px;
}

.novo-aviso-text {
  position: relative;
  width: 330px;
  height: 106px;
  border-radius: 10px;
  border: 3px solid;
  border-color: #494a51;
  background-color: transparent;
  letter-spacing: 0;
  line-height: normal;
  outline: 0;
  padding-left: 13px;
}

.novo-aviso-text:focus {
  border-color: #a178f1; 
}

.TV .local-botão-criar {
  position: absolute;
  width: 344px;
  height: 52px;
  top: 346px;
  left: 19px;
}

.TV .botão-criar {
  position: relative;
  width: 452px;
  height: 52px;
  background-color: #3772ff;
  border-radius: 10px;
  color: #fff;
  font-family: "Roboto-Medium", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 17px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
  border:none;
  cursor: pointer;
}

.botão-criar:hover {
  background-color: #4f7de9;

}


.TV .text-wrapper-18 {
  position: absolute;
  top: 16px;
  left: 15px;
  font-family: "Roboto-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 22px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.TV .group-wrapper {
  position: absolute;
  width: 22px;
  height: 22px;
  top: 253px;
  left: 337px;
  border-radius: 5px;
  border: 2px solid;
  border-color: #d3d3d6;
}

.TV .group-20 {
  position: relative;
  width: 8px;
  height: 8px;
  top: 5px;
  left: 5px;
}

.TV .overlap-group-6 {
  position: relative;
  height: 8px;
}

.TV .rectangle-6 {
  position: absolute;
  width: 2px;
  height: 8px;
  top: 0;
  left: 3px;
  background-color: #f0f0f0;
  border-radius: 40px;
}

.TV .rectangle-7 {
  position: absolute;
  width: 2px;
  height: 8px;
  top: 0;
  left: 3px;
  background-color: #f0f0f0;
  border-radius: 40px;
  transform: rotate(-90deg);
}

.TV .group-21 {
  position: absolute;
  width: 22px;
  height: 22px;
  top: 300px;
  left: 337px;
  border-radius: 5px;
  border: 2px solid;
  border-color: #d3d3d6;
}

.TV .group-22 {
  position: absolute;
  width: 21px;
  height: 30px;
  top: 249px;
  left: 18px;
  transform: rotate(-39.03deg);
}

.TV .overlap-17 {
  position: relative;
  width: 39px;
  height: 39px;
  top: -1px;
  left: -9px;
}

.TV .rectangle-8 {
  position: absolute;
  width: 27px;
  height: 28px;
  top: 5px;
  left: 6px;
  transform: rotate(39.03deg);
}

.TV .ellipse {
  position: absolute;
  width: 9px;
  height: 9px;
  top: 12px;
  left: 15px;
  border-radius: 4.5px;
  border: 1px solid;
  border-color: #828388;
}

.TV .group-23 {
  position: absolute;
  width: 134px;
  height: 23px;
  top: 252px;
  left: 59px;
}

.TV .overlap-18 {
  position: relative;
  width: 132px;
  height: 23px;
  background-color: #7259c6;
  border-radius: 11.5px;
}

.TV .text-wrapper-19 {
  position: absolute;
  width: 117px;
  height: 14px;
  top: 5px;
  left: 12px;
  font-family: "Roboto-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.TV .user {
  position: absolute;
  width: 21px;
  height: 21px;
  top: 301px;
  left: 19px;
  object-fit: cover;
}

.TV .image-7 {
  position: absolute;
  width: 29px;
  height: 29px;
  top: 299px;
  left: 58px;
  object-fit: cover;
}

.TV .text-wrapper-20 {
  position: absolute;
  top: 304px;
  left: 97px;
  font-family: "Roboto-Medium", Helvetica;
  font-weight: 500;
  color: #d3d3d6;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.geral {
  position: absolute;
  width: 81px;
  height: 36px;
  top: 178px;
  left: 94px;
  border-radius: 18px;
  border: 2px solid #272a30;
  background-color: transparent;
  color: #44474c;
  cursor: pointer;
}

.postagem {
  position: absolute;
  width: 121px;
  height: 36px;
  top: 178px;
  left: 189px;
  border-radius: 18px;
  border: 2px solid #272a30;
  background-color: transparent;
  color: #44474c;
  cursor: pointer;
}

.Avisos {
  position: absolute;
  width: 117px;
  height: 36px;
  top: 178px;
  left: 324px;
  border-radius: 18px;
  border: 2px solid #272a30;
  background-color: transparent;
  color: #44474c;
  cursor: pointer;
}

.Avisos:focus {
  background-color: #272a30;
  color: #d3d3d6;
  
}

.postagem:focus {
  background-color: #272a30;
  color: #d3d3d6;
}

.geral:focus {
  background-color: #272a30;
  color: #d3d3d6;
}

.Avisos:hover {
  color: #d3d3d6;
  border-color: #d3d3d6;
}

.postagem:hover {
  color: #d3d3d6;
  border-color: #d3d3d6;
}

.geral:hover {
  color: #d3d3d6;
  border-color: #d3d3d6;
}

.abrir-calendario {
  position: absolute;
  width: 186px;
  height: 36px;
  top: 178px;
  left: 1075px;
  background-color: #3772ff;
  border-radius: 18px;
  cursor: pointer;
  border: none;
  color: #fff;
  font-weight: 500;
}

.abrir-calendario:hover {
  background-color: #4f7de9;
}

.novo-aviso {
  position: relative;
  width: 136px;
  height: 36px;
  top: 178px;
  left: 925px;
  background-color: #20212c;
  border-radius: 18px;
  color: #fff;
  cursor: pointer;
  border: none;
}

.novo-aviso:hover {
  background-color: #2f3141;
}

.TV .Micro-RH {
  position: absolute;
  width: 204px;
  height: 49px;
  top: 0px;
  left: 0px;
}

.TV .text-micro-RH {
  position: absolute;
  width: 55px;
  top: 6px;
  left: 20px;
  font-family: "Roboto-Medium", Helvetica;
  font-weight: 500;
  color: #d9dada;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
  cursor: pointer;
}

.TV .funcionarios {
  position: absolute;
  width: 129px;
  height: 49px;
  top: 2px;
  left: 68px;
}

.TV .funcionario-1 {
  width: 49px;
  height: 49px;
  left: 10px;
  position: absolute;
  top: 0px;
  object-fit: cover;
}

.TV .funcionario-2 {
  position: absolute;
  width: 49px;
  height: 49px;
  top: 0px;
  left: 50px;
  object-fit: cover;
}

.TV .funcionario-3 {
  position: absolute;
  width: 49px;
  height: 49px;
  top: 0px;
  left: 90px;
  object-fit: cover;
}

.seleção {
  position: absolute;
  width: 228px;
  height: 54px;
  top: 19px;
  left: 965px;
  background-color: transparent;
  border-radius: 20px;
  cursor: pointer;
}

.seleção:hover { 
  background-color: #303139;
  transform: scale(102%);
}

.bell-wrapper:hover {
  transform: scale(106%);
}

.ajust {
  position: absolute;
  top: 50px;
}

.overlap-15 {
  position: absolute;
  width: 770px;
  height: 414px;
  left: -790px;
  top: 0px;
  background-color: #20212c;
  border-radius: 14px;
}

.IA {
  position: absolute;
  left: 907px;
  top: 200px;
  z-index: 9999999999;
}

.blur {
  transition: 1s;
  filter: blur(0px);
}

.blur.active {
  filter: blur(3px); /* Ou qualquer outro estilo que você desejar para o efeito de desfoque */
}

.IA-fundo {
  position: absolute;
  width: 640px;
  height: 720px;
  top: 0px;
  left: 0;
  background-color: #15161d;
  border-radius: 0 20px 0 0;
  z-index: 0;
  border: #4f7de9 solid 0.5px;
}

.IA-Input-c {
  position: absolute;
  top: 643px;
  left: 46px;
  width: 400px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 8px;
  background: #20212cb2;
  color: #93949b;
  letter-spacing: 0;
  line-height: normal;
  border: none;
  outline: 0;
  padding-left: 9px;
  padding-right: 10px;
  border: 1px solid transparent;
}

.IA-Input-c:focus {
  border: 1px solid #4f7de9 !important;
  color: #93949b;
}

.confirm-IA {
  position: absolute;
  top: 643.9px;
  left: 486px;
  width: 100px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 8px;
  background: #20212cb2;
  outline: 0;
  letter-spacing: 0;
  line-height: normal;
  border: none;
  color: #494a51;
  transition: 0.6s;
}

.confirm-IA:hover {
  color: #4f7de9;
  border: 1px solid #4f7de9;
}

.line-IA {
  position: absolute;
  width: 590px;
  height: 1px;
  top: 622px;
  left: 25px;
  background-color: #1f212c;
  border-radius: 20px;
}

.delt-IA {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 16px;
  left: 19px;
  background-color: #4f7de9;
  border-radius: 40px;
}

.delt-IA:hover {
  transform: scale(103%);
}

.cancelar {
  position: absolute;
  top: 9.2px;
  left: 9.3px;
  width: 23px;
  height: 23px;
}

:root{
  --dark: #0c0c0c;
  --white: #fff;
  --purple: #5959ff;
  --gray: #949494;
  --gray2: #cccccc;
}

.box-questions{
  margin-top: 3rem;
  background-color: var(--white);
  color: var(--dark);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-height: 800px;
  width: 600px;
  border-radius: 10px;
  text-align: center;
}

#history{
  padding: 1rem;
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 100%;
}

.box-my-message{
  display: flex;
  justify-content: flex-end;
}

.box-response-message{
  display: flex;
  justify-content: flex-start;
}

.my-message{
  padding: 1rem;
  border-radius: 10px;
  color: rgb(209, 209, 209);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  cursor: default;
}

.response-message{
  padding: 1rem;
  border-radius: 10px;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  cursor: default;
}

.my-message{
  text-align: right;
  background-color: #232531;
}

.response-message{
  text-align: left;
  background-color: #4f7de9;
}

.history-tamanho {
  position: absolute;
  top: 70px;
  left: 0;
  width: 640px;
  height: 520px;
}

#history {
  min-height: 520px; 
  overflow-y: auto; 
}

#history::-webkit-scrollbar {
  width: 8px;
}

#history::-webkit-scrollbar-thumb {
  background-color: #323341; 
  border-radius: 4px; 
}

#history::-webkit-scrollbar-track {
  background: none; 
}

.fundo-blur {
  background-color: transparent;
  width: 1280px;
  height: 720px;
  position: absolute;
  z-index: -2;
}

.bt1 {
  display: block;
  margin: 0px 0; /* Adiciona margem para espaçar os botões verticalmente */
  padding: 8px;
  cursor: pointer;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 600;
    color: #444555;
    font-size: 15px;
    text-align: center;

    height: 48px;
    width: 290px;
    background-color: #20212c;
    border-radius: 10px;
    letter-spacing: 0;
    line-height: normal;
    border: none;
    outline: 0;
    transform-origin: 0.5s;
    opacity: 60%;
}

.bt1:hover {
  color: #fff;
  background-color: #21222e;
  opacity: 100%;
}

.button-container {
  display: flex;
  justify-content: space-around;
  bottom: 0;
  position: relative;
  top: 78%;
  width: 100%;
  padding: 0px; 

}

.mais-IA {
  background-color: #4f7de9;
  width: 2px;
  height: 70px;
  position: absolute;
  border: none;
  left: 628px;
  top: 626px;
  cursor: pointer;
  border-radius: 10px 0px 0px 10px;
  z-index: 3;
  transition: 1s;
}

.mais-p {
  width: 8px;
  height: 20px;
  position: absolute;
  left: 2.2px;
  top: 25px;
}

.mais-IA, .IA-fundo {
  overflow: hidden;
}

.mais-p {
  transition: transform 1s ease;
}

.rotated {
  transform: rotate(180deg);
  left: 3px;
}

.bt-g {
  position: absolute;
  top: 517px;
  left: 640px;
  width: 220px;
  height: 190px;
  background-color: #17181fa9;
  border-radius: 5px 0px 0 5px;
  border: #4f7de9 solid 1px;
  z-index: 2;
  transition: 1s;
}

.bt2, .bt3, .bt4, .bt5, .bt6 {
  display: block;
  margin: 3px 0; /* Adiciona margem para espaçar os botões verticalmente */
  padding: 8px;
  cursor: pointer;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 600;
    color: #444555;
    font-size: 13px;
    text-align: center;

    background-color: #20212c;
    border-radius: 10px;
    letter-spacing: 0;
    line-height: normal;
    border: none;
    outline: 0;
    transform-origin: 0.5s;
}

.bt2:hover, .bt3:hover, .bt4:hover, .bt5:hover, .bt6:hover  {
  color: #fff;
  background-color: #21222e;
  border: solid 1px #4f7de9;
  opacity: 100%;
}

.bt2 {
  position: absolute;
  top: 4px;
  left: 5%;
  height: 16px;
  width: 180px;
}

.bt3 {
  position: absolute;
  top: 40px;
  left: 5%;
  height: 16px;
  width: 180px;
}

.bt4 {
  position: absolute;
  top: 76px;
  left: 5%;
  height: 16px;
  width: 180px;
}

.bt5 {
  position: absolute;
  top: 111px;
  left: 5%;
  height: 16px;
  width: 180px;
}

.bt6 {
  position: absolute;
  top: 148px;
  left: 5%;
  height: 16px;
  width: 180px;
}

